<!--<ng-template #register let-c="close" let-d="dismiss">-->
<div class="modal-header">
  <h4 class="modal-title">修改密码</h4>
  <!--<button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">-->
  <!--<span aria-hidden="true">&times;</span>-->
  <!--</button>-->
</div>

<div class="modal-body">
  <form #registerForm="ngForm">
    <div class="formItem">
      <label>请输入您的原密码：</label>
      <input type="password" required name="inputPwd" [(ngModel)]="inputPwd" #inputpwd="ngModel">
      <span [hidden]="inputpwd.valid || inputpwd.pristine" class="prompt">请您输入原密码</span>
    </div>

    <div class="formItem" >
      <label>请输入您的新密码：</label>
      <input type="password" required name="userPsd" [(ngModel)]="user.user_pwd" #userpsd="ngModel">
      <span [hidden]="userpsd.valid || userpsd.pristine"  class="prompt">请您输入新密码</span>
    </div>
  </form>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="onSubmit()"
          [disabled]="(!inputpwd.valid) || (!userpsd.valid)">确认</button>
  <button type="button" class="btn btn-outline-dark" (click)="closeWindow()">取消</button>
</div>
<!--</ng-template>-->
