<!--<ng-template #register let-c="close" let-d="dismiss">-->
<div class="modal-header">
  <h4 class="modal-title">添加课程</h4>
  <!--<button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">-->
  <!--<span aria-hidden="true">&times;</span>-->
  <!--</button>-->
</div>

<div class="modal-body">
  <ol>
    <li *ngFor="let course of courses" class="multiple">
      <div class="item">课程名称: <b>{{course.course_name}}</b></div>
      <div class="item">课程代码：{{course.course_id}}</div>
      <div class="item">选课人数：{{course.course_number}}</div>
      <div><button (click)="onSubmit(course)" class="addCourse">选课</button></div>
      <hr>
    </li>
  </ol>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="closeWindow()">退出选课</button>
</div>
<!--</ng-template>-->
