<!--<ng-template #register let-c="close" let-d="dismiss">-->
<div class="modal-header">
  <h4 class="modal-title">添加课程</h4>
  <!--<button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">-->
  <!--<span aria-hidden="true">&times;</span>-->
  <!--</button>-->
</div>

<div class="modal-body">
  <form #registerForm="ngForm">
    <div class="formItem">
      <label>课程id：</label>
      <input type="text" required name="courseID" [(ngModel)]="course.course_id" #courseID="ngModel">
      <span [hidden]="courseID.valid || courseID.pristine" class="prompt">请您输入课程id</span>
    </div>

    <div class="formItem" >
      <label>课程名称：</label>
      <input type="text" required name="courseName" [(ngModel)]="course.course_name" #courseName="ngModel">
      <span [hidden]="courseName.valid || courseName.pristine"  class="prompt">请您输入课程名称</span>
    </div>
  </form>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="onSubmit()"
          [disabled]="(!courseID.valid) || (!courseName.valid)">确认</button>
  <button type="button" class="btn btn-outline-dark" (click)="closeWindow()">取消</button>
</div>
<!--</ng-template>-->
