.formItem {
  margin: 10px;
}

.prompt {
  margin-left: 20px;
  font-size: smaller;
  color: sienna;
}

.modal-footer {
  clear: both;
}

label {
  width: 100px;
  text-align: right;
}

#character {
  float: right;
}

.sendCode {
  border: none;
  margin-left: 10px;
}
