<!--<ng-template #register let-c="close" let-d="dismiss">-->
  <div class="modal-header">
    <h4 class="modal-title">注册</h4>
    <!--<button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">-->
      <!--<span aria-hidden="true">&times;</span>-->
    <!--</button>-->
  </div>

  <div class="modal-body">
    <form #registerForm="ngForm">

      <div class="formItem">
        <label>用户名：</label>
        <input type="text" required name="userName" [(ngModel)]="user_name" #username="ngModel">
        <span [hidden]="username.valid || username.pristine" class="prompt">请您输入用户名</span>
      </div>

      <div class="formItem" >
        <label>密码：</label>
        <input type="password" required name="userPsd" [(ngModel)]="user_pwd" #userpsd="ngModel">
        <span [hidden]="userpsd.valid || userpsd.pristine"  class="prompt">请您输入密码</span>
      </div>

      <div class="formItem">
        <label>密码确认：</label>
        <input type="password" required name="confirmedPsd" [(ngModel)]="confirmedPsd" #confirmedpsd="ngModel">
        <span [hidden]="userpsd.value == confirmedpsd.value || userpsd.untouched" class="prompt">密码不一致</span>
      </div>

      <div class="formItem" id="character">
        <input type="radio" required name="identity" value="teacher" [(ngModel)]="identity" #id="ngModel"> 教师
        <input type="radio" required name="identity" value="student" [(ngModel)]="identity" #id="ngModel"> 学生
      </div>
    </form>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="onSubmit(registerForm.value)"
      [disabled]="(!username.valid) || (!userpsd.valid) || (!id.valid) || (userpsd.value != confirmedpsd.value)">确认</button>
    <button type="button" class="btn btn-outline-dark" (click)="closeWindow()">取消</button>
  </div>
<!--</ng-template>-->
