<div id="release_multiple" class="buttonDiv">
  <button type="button" class="btn btn-outline-dark" (click)="releaseMultiple()">发布选择题</button>
</div>

<div id="release_short" class="buttonDiv">
  <button type="button" class="btn btn-outline-dark" (click)="releaseShort()">发布简答题</button>
</div>

<div id="homework">
<ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
  <ngb-panel title="选择题">
    <ng-template ngbPanelContent>
      <ol>
        <li *ngFor="let multiple of multipleQuestion" class="multiple">
          <div class="title, item"><b>{{multiple.title}}</b></div>
          <div class="options, item">
            <div>
              <span>A. </span><span class="optionA"> {{multiple.optionA}}</span>
            </div>
            <div>
              <span>B. </span><span class="optionB"> {{multiple.optionB}}</span>
            </div>
            <div>
              <span>C. </span><span class="optionC"> {{multiple.optionC}}</span>
            </div>
            <div>
              <span>D. </span><span class="optionD"> {{multiple.optionD}}</span>
            </div>
          </div>
          <div class="correct_answer, item">
            <span><b>正确答案：</b></span>
            <span>{{multiple.correct_answer}}</span>
          </div>
          <div class="number, item">
            <span><b>正确率：</b></span>
            <span class="correct_number">{{multiple.correct_number}}</span>
            <span> / </span>
            <span class="number">{{multiple.number}}</span>
          </div>
          <hr>
        </li>
      </ol>
    </ng-template>
  </ngb-panel>


  <ngb-panel title="简答题">
    <ng-template ngbPanelContent>
      <ol>
        <li *ngFor="let short of shortQuestion" class="short">
          <div class="title, item"><b>{{short.title}}</b></div>
          <div class="correct_answer, item">
            <span><b>正确答案：</b></span>
            <span>{{short.correct_answer}}</span>
          </div>
          <hr>
        </li>
      </ol>
    </ng-template>
  </ngb-panel>
</ngb-accordion>
</div>
