<div>
    <div id="title">
        <p>思维导图</p>
    </div>
    <div id="action">
        <div id="choose">
            <p>切换思维导图

            </p>
            <img src={{imgUrl}} width="15px"
                 (click)='changeShowMaps()'>
        </div>
        <div id="detail">
            <ul *ngIf="showMaps">
                <li><span>picture4</span></li>
                <li><span>picture5</span></li>
                <li><span>picture6</span></li>
            </ul>
        </div>
        <div id="create">
            <p>创建思维导图</p>
        </div>
    </div>
</div>
