<ngb-tabset [destroyOnHide]="false" class="table-secondary">
    <ngb-tab title="思维导图">
        <ng-template ngbTabContent>

            <div ngbDropdown class="d-inline-block mr-2" style="margin-top: 10px;">
                <button class="btn btn-outline-secondary" ngbDropdownToggle>思维导图列表</button>
                <div ngbDropdownMenu>
                    <button *ngFor="let mind of mindList" class="dropdown-item" (click)="currentMind=mind;">{{mind.name}}</button>

                </div>
            </div>

            <app-stu-mindmap *ngIf="currentMind"
                             [mindId]="currentMind.id"
                             [courseId]="course_id"
                             (click)="checkTabStatus()" #jsmind></app-stu-mindmap>


        </ng-template>
    </ngb-tab>
    <ngb-tab title="作业" id="tab-homework" *ngIf="selected_node_id!=''">
        <ng-template ngbTabContent>

            <app-stu-homework [course_id]="course_id"
                              [mind_id]="currentMind.id"
                              [node_id]="selected_node_id">

            </app-stu-homework>

        </ng-template>
    </ngb-tab>
    <ngb-tab title="课件" id="tab-ppt" *ngIf="selected_node_id!=''">
        <ng-template ngbTabContent>
            <app-stu-courseware [course_id]="course_id"
                                [mind_id]="currentMind.id"
                                [node_id]="selected_node_id">

            </app-stu-courseware>

        </ng-template>
    </ngb-tab>
    <ngb-tab title="资源" id="tab-resource"  *ngIf="selected_node_id!=''">
        <ng-template ngbTabContent>

            <app-stu-resources [course_id]="course_id"
                               [mind_id]="currentMind.id"
                               [node_id]="selected_node_id">
            </app-stu-resources>

        </ng-template>
    </ngb-tab>
    <ngb-tab title="笔记" id="tab-note"  *ngIf="selected_node_id!=''">
      <ng-template ngbTabContent>

        <app-stu-note [course_id]="course_id"
                           [mind_id]="currentMind.id"
                           [node_id]="selected_node_id">
        </app-stu-note>

      </ng-template>
    </ngb-tab>
</ngb-tabset>
