<ngb-tabset (tabChange)="beforeChange($event)" [destroyOnHide]="false" class="table-secondary">
    <ngb-tab title="思维导图">
        <ng-template ngbTabContent>
            <app-mindmap #jsmind></app-mindmap>
        </ng-template>
    </ngb-tab>
    <ngb-tab title="作业" id="tab-homework">
        <ng-template ngbTabContent>
            <p>
                此处为{{info}}的作业组件
            </p>
        </ng-template>
    </ngb-tab>
    <ngb-tab title="课件" id="tab-ppt">
        <ng-template ngbTabContent>
            <p>
                此处为{{info}}的课件组件
            </p>
        </ng-template>
    </ngb-tab>
    <ngb-tab title="资源" id="tab-resource">
        <ng-template ngbTabContent>
            <p>
                此处为{{info}}的资源组件
            </p>

        </ng-template>
    </ngb-tab>
</ngb-tabset>
