div {
  text-align: center;
}

a {
  color: black;
}

a:hover {
  color: #006699;
}

#login button {
  width: 120px;
  height: 50px;
  border-color: lightgray;
  border-radius: 5px;
  font-size: 18px;
}

#register button {
  width: 120px;
  height: 50px;
  border-color: lightgray;
  border-radius: 5px;
  font-size: 18px;
}

.buttonDiv {
  margin: auto;
  width: 50%;
  margin-top: 30px;
}

#title {
  background-color: black;
  padding: 1%;
  margin-top: 20%;
}

#title h1 {
  color: white;
  font-weight: normal;
}

#introduction {
  color: lightslategrey;
  text-align: right;
}

#footer {
  position: fixed;
  bottom: 0;
  margin: auto;
  width: 100%;
}

#footer p {
  color: lightgray;
}
