a {
  color: #0099CC;
}

a:hover {
  color: #006699;
}

button {
  width: 120px;
  height: 50px;
  border-color: lightgray;
  border-radius: 5px;
  font-size: 18px;
}

div {
  margin-top: 20px;
}


.buttonDiv {
  margin-left: 45px;
  margin-top: 45px;
}

.buttonWithoutBorder {
  border: none;
  font-size: 15px;
  color: #0099CC;
  outline: none;
}

/*.left {*/
  /*width: 30%;*/
  /*float: left;*/
/*}*/

/*.middle {*/
  /*width: 30%;*/
  /*float: left;*/
/*}*/

/*.right {*/
  /*width: 30%;*/
  /*float: left;*/
/*}*/

.course {
  float: left;
  width: 400px;
  border: 1px solid lightgray;
  border-radius: 5px;
  text-align: center;
  margin:10px;
  /*padding:10px;*/
}

.courseName {
  background-color: #1b1e21;
  font-size: larger;
  padding: 5px;
  color: white;
}

#courses {
  clear: both;
  width: 100%;
  overflow: hidden;
  margin-left: 40px;
}

#modifyPwd {
  float: right;
  margin-right: 45px;
}

#addCourse {
  float: left;
}
